.weather-content{
  height: 90vh;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60% 100%;
  width: 99vw;
}
.weather-title {
  font-size: 54px;
}
.box-container {
 
  width: 30%;
  font-size: 25px;
}
.weather-align {
  margin-left:200px;
}
img{
  position:absolute;
}