.weather-content {
  font-family: "Raleway", sans-serif;
  height: 90vh;
  background-image: url("pexels-photo-316902.jpeg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%;
  width: 99vw;
  color: white;
  border: solid 1px white;
  margin: 0%;
  padding: 0%;
}
.weather-title2 {
  font-size: 54px;
}
.weather-container2 {
  margin-left: 200px;
}
.box-container {
  width: 30%;
  font-size: 25px;
}
.weather-align {
  display: flex;
  justify-content: right;
  margin-top: 3em;
}
