 <div class="nav">
<ul >
  <li style="float: left" >
    <a id="head-name"><span>TOMA CRISTIAN</span></a>
  </li>
  <li>
    <a href="#home"><mat-icon>home</mat-icon></a>
  </li>
  <li>
    <a href="#about" mat-flat-button color="primary" ><span>About</span></a>
  </li>
  <li>
    <a href="#resume" mat-flat-button color="primary"><span>Resume</span></a>
  </li>
  <li>
    <a href="#contact" mat-flat-button color="primary"><span>Contact</span></a>
  </li>
  <li>
    <a href="github" (click)="onNavigate()" mat-flat-button color="primary"><span>GitHub</span></a>
  </li>
</ul>
</div>