 <div class="nav">
<ul >
  <li style="float: left" >
    <a id="head-name"><span>TOMA CRISTIAN</span></a>
  </li>
  <li>
    <a mat-flat-button (click)="goToPage('home')"><mat-icon>home</mat-icon></a>
  </li>
  <li>
    <a mat-flat-button color="primary" (click)="goToPage('about')" ><span>About</span></a>
  </li>
  <li>
    <a mat-flat-button color="primary" (click)="goToPage('resume')"><span>Resume</span></a>
  </li>
  <li>
    <a mat-flat-button color="primary" (click)="goToPage('contact')"><span>Contact</span></a>
  </li>
  <li>
    <a (click)="onNavigate()" mat-flat-button color="primary"><span>GitHub</span></a>
  </li>
</ul>
</div>
<app-weather></app-weather>


