.title {
  font-size: 54px;
}
.experience-content {
  height: 100vh;
}

.resume-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 200px;
  width: 60vw;
}
  .resume-content2 {
    display: flex;
    justify-content:center;
    height: 100%;
 
  }
      
  .resume-right-side {
    width: 70%;
    border: solid 1px
  }
  .resume-left-side {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 40%;
    border: solid 1px;
    background-color: #1A5389;
    color: white;
  }

  h3{
    color: #396EB0;
  }

  .radio-input td{
    padding: 10px;
  }
  .resume-picture {
    border-radius:50%;
  }
  .image {
    padding-top: 50px;
}
img {
  display:flex;
  border-radius: 50%;
}
.resume-right-side {
  display: flex; 
  justify-content:flex-start;
  flex-direction: column;
}
div.resume-right-side {
  padding: 10%;
}
.box {
  margin-bottom: 50px;
}
