<div class="resume-content" id="resume">
  <div class="title">
    <h1>Experience</h1>
  </div>
    <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
      <mat-tab label="WORKING EXPERIENCE" >
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam
          vitae amet velit. Nemo, iusto commodi debitis rerum perspiciatis,
          nulla dolorem esse unde laborum hic sed! Quae placeat facilis magnam!
        </p>
      </mat-tab>
  
      <mat-tab label="RESUME" >
        <div class="resume-content2">
          <div class="resume-left-side">
            <div class="image">
              <img src="poza.jpg">
            </div>
            <div class="resume-content-left">
            <h3>Contact Data</h3>
            <p>Targu Mures str. Livezeni nr. 34D ap. 4 jud. Mures</p>
            <p>i.toma_cristian@yahoo.com</p>
            <p>https://github.com/tcristian87</p>
            <p>www.linkedin.com/in/toma-cristian-ioan</p>
          </div>
          <div class="skills-content">
              <table>
                <tr>
                  <td>HTML</td>
                  <div class="radio-input" value="html">
                    <td>
                      <input type="radio"  value="html"/>
                    </td>
                    <td>
                      <input type="radio"  value="html"/>
                    </td>
                    <td>
                      <input type="radio"  value="html"/>
                    </td>
                    <td>
                      <input type="radio"  value="html"/>
                    </td>
                  </div>
                </tr>
                <td>CSS</td>
                <div class="radio-input">
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                </div>
                <tr>
                  <td>JavaScript</td>
                  <div class="radio-input">
                    <td>
                      <input type="radio" />
                    </td>
                    <td>
                      <input type="radio" />
                    </td>
                    <td>
                      <input type="radio" />
                    </td>
                    <td>
                      <input type="radio" />
                    </td>
                  </div>
                </tr>
                <tr>
                  <td>Angular</td>
                  <div class="radio-input">
                    <td>
                      <input type="radio" />
                    </td>
                    <td>
                      <input type="radio" />
                    </td>
                    <td>
                      <input type="radio" />
                    </td>
                    <td>
                      <input type="radio" />
                    </td>
                  </div>
                </tr>
                <tr>
                  <td>React</td>
                  <div class="radio-input">
                    <td>
                      <input type="radio" />
                    </td>
                    <td>
                      <input type="radio" />
                    </td>
                    <td>
                      <input type="radio" />
                    </td>
                    <td>
                      <input type="radio" />
                    </td>
                  </div>
                </tr>
                <tr>
                  <td>ExpressJS NodeJS</td>
                  <div class="radio-input">
                    <td>
                      <input type="radio" />
                    </td>
                    <td>
                      <input type="radio" />
                    </td>
                    <td>
                      <input type="radio" />
                    </td>
                    <td>
                      <input type="radio" />
                    </td>
                  </div>
                </tr>
              </table>
            </div>
        </div>
          <div class="resume-right-side">
            <h1>Toma Cristian</h1>
            <hr width="30%" />
            <h3>Junior Front End Web Developer</h3>
            <div class="personal-profile">
              <h3>Personal Profile</h3>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto ea
              exercitationem voluptatem, rem excepturi odit pariatur reiciendis
              magni quam animi voluptate autem quae unde deleniti eius
              voluptatibus earum officia delectus?
            </div>
            <div class="work-experience">
              <h3>Project Manager</h3>
              <h4>Period | </h4>
              <ul>
                <li>Conduct</li>
                <li>Create</li>
              </ul>
              <h3>Project Manager</h3>
              <h4>Period | </h4>
              <ul>
                <li>Conduct</li>
                <li>Create</li>
              </ul>
            </div>
            <div class="education-history">
              <h3>Project Manager</h3>
              <h4>Period | </h4>
              <ul>
                <li>Conduct</li>
                <li>Create</li>
              </ul>
              <h3>Project Manager</h3>
              <h4>Period | </h4>
              <ul>
                <li>Conduct</li>
                <li>Create</li>
              </ul>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
 </div>
  
  
  