<div class="resume-content" id="resume">
  <div class="title">
    <h1>Experience</h1>
  </div>
  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="WORKING EXPERIENCE">
      <div class="experience-content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam
        vitae amet velit. Nemo, iusto commodi debitis rerum perspiciatis, nulla
        dolorem esse unde laborum hic sed! Quae placeat facilis magnam!
        </p>
        </div>
    </mat-tab>

    <mat-tab label="RESUME">
      <div class="resume-content2">
        <div class="resume-left-side">
          <div class="image">
            <img src="poza.jpg" />
          </div>
          <div class="resume-content-left">
            <h2>Contact Data</h2>
            <p>Targu Mures str. Livezeni nr. 34D ap. 4 jud. Mures</p>
            <p>i.toma_cristian@yahoo.com</p>
            <p>https://github.com/tcristian87</p>
            <p>www.linkedin.com/in/toma-cristian-ioan</p>
          </div>
          <div class="skills-content">
            <table>
              <tr>
                <td>HTML</td>
                <div class="radio-input" value="">
                  <td>
                    <input type="radio" value="" />
                  </td>
                  <td>
                    <input type="radio" value="" />
                  </td>
                  <td>
                    <input type="radio" value="" />
                  </td>
                  <td>
                    <input type="radio" value="" />
                  </td>
                </div>
              </tr>
              <td>CSS</td>
              <div class="radio-input">
                <td>
                  <input type="radio" />
                </td>
                <td>
                  <input type="radio" />
                </td>
                <td>
                  <input type="radio" />
                </td>
                <td>
                  <input type="radio" />
                </td>
              </div>
              <tr>
                <td>JavaScript</td>
                <div class="radio-input">
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                </div>
              </tr>
              <tr>
                <td>Angular</td>
                <div class="radio-input">
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                </div>
              </tr>
              <tr>
                <td>React</td>
                <div class="radio-input">
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                </div>
              </tr>
              <tr>
                <td>ExpressJS NodeJS</td>
                <div class="radio-input">
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                  <td>
                    <input type="radio" />
                  </td>
                </div>
              </tr>
            </table>
          </div>
        </div>
        <div class="resume-right-side">
          <h1 style="font-weight: bold; color: #2F3A8F">Toma Cristian</h1>
          <hr width="30%" />
          <h2 style="color: #2F3A8F">Junior Front End Web Developer</h2>

          <div class="personal-profile box" >
            <h3>Personal Profile</h3>
            I am a former legal advisor, who wants to make a professional
            reconversion, in the field of IT, programming, Front End Developer,
            Web Developer. Former student at Scoala Informala IT.
          </div>

          <div class="work-experience box">
            <h3>Work Experience</h3>
            <h4>Student at Scoala Informala de IT</h4>
            <h4>Period | Aug - Dec 2021</h4>
            <ul>
              <li>HTML CSS JavaScript, JavaScript Advanced</li>
              <li>Angular, ReactJs</li>
              <li>ExpressJs</li>
            </ul>
            <h4>Legal Advisor</h4>
            <h4>Period | July 2016 - May 2021</h4>
            <ul>
              <li>Office work whit legal papers, specific to the field</li>
              <li>Collaborated with clients</li>
              <li>Preparation of documents, support for the bailiff
              </li>
            </ul>
          </div>

          <div class="education-history box">
            <h3>Educational History </h3>
            <h4>University Dimitrie Cantemir</h4>
            <h4>Law School | 2010 - 2021</h4>
            <ul>
              <li>Specific subjects, Civil Law, Criminal Law, Procedures</li>
            </ul>
          </div>

        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
