#target {
    color:red;
}
video {
  width: 50%;
  height: auto;
}

audio::-webkit-media-controls-panel {
  background-color: #56AEFF;
}

audio::-webkit-media-controls-mute-button {
  background-color: #B1D4E0;
  border-radius: 50%;
}