<div class="cards-content">
  <div id="contact" @fade class="about-card-content vertical-center">
      <span><h1 >About</h1></span>
        <div class="text-content flex-display-about">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat
            nemo ipsam commodi voluptates laudantium amet architecto recusandae
            ullam, itaque obcaecati, quas sed ratione, assumenda eius. Est nisi
            vero amet animi!
          </p>
          <img class="text-img"src="assets/poza.jpg" alt="" />
          </div>
              <button class="contact-button">More About Me</button>
    </div>
  <div id="resume"class="resume-card-content vertical-center">
    <div @fade>
      <span><h1 >Resume</h1></span>
      <span
        ><p class="text-content">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat nemo
          ipsam commodi voluptates laudantium amet architecto recusandae ullam,
          itaque obcaecati, quas sed ratione, assumenda eius. Est nisi vero amet
          animi!
        </p></span
      >
    </div>
  </div>
  <div id="contact" class="contact-card-content vertical-center">
    <div @fade>
      <span><h1>Contact</h1></span>
      <span
        ><p class="text-content">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat nemo
          ipsam commodi voluptates laudantium amet architecto recusandae ullam,
          itaque obcaecati, quas sed ratione, assumenda eius. Est nisi vero amet
          animi!
        </p></span
      >
      <div class="button-class">
        <button class="contact-button">Contact Me</button>
      </div>
    </div>
  </div>
</div>
