.cards-content {
    display: block;
  max-width: 800px;
  justify-items: center;
  margin-left:auto;
  margin-right: auto;
  margin-top: 150px;
}

 .contact-button{
    padding: 30px;
    cursor: pointer;
    border-radius: 10em;    
    border: 1px;
    font-size: 15px;    

}
.text-content {
    font-size: 20px;
    float: left;
}
.flex-display-about {
    display: flex;;
}
.resume-card-content{
    margin-top: 150px;
    margin-bottom: 150px;
}
h1 {
 font-family: 'Popins';
 font-size: 5em;
} 

/* .text-img {
float: center;
width: 50%;
}
.about-card-content {
     border: solid; 
} */