<div @fade class="cards-content">
  <div id="contact" >
    <span><h1>About</h1></span>
    <div class="text-content flex-display-about">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint saepe
        illum fugiat aliquid. Placeat maxime quibusdam eum, veniam tenetur enim
        id consectetur maiores, quod, ad eveniet itaque ipsa animi provident!
      </p>
      <img class="text-img" src="assets/poza.jpg" alt="" />
    </div>
    <button class="contact-button">More About Me</button>
  </div>
</div>
