<mat-toolbar>
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a mat-raised-button routerLink="/home" (click)="toHome()"><mat-icon>home</mat-icon></a>
      </li>
      <li>
        <a mat-raised-button routerLink="/about" (click)="toAbout()">About</a>
      </li>
      <li>
        <a mat-raised-button routerLink="/resume" (click)="toResume()">Resume</a>
      </li>
      <li>
        <a mat-raised-button routerLink="/contact" (click)="toContact()">Contact</a>
      </li>
      <li>
        <a mat-raised-button href="https://github.com/tcristian87" target="_blank">GitHub</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
